<div class="row">
	<div class="col m12 center-align">
		<a id="get-gallery-button" class="waves-effect waves-light btn large"><i class="material-icons left">view_carousel</i>Get my images!</a>		
	</div>
</div>

<div id="gallery" class="row"></div>
